<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ar1st0crat.SciColorMaps" version="1.0.2" targetFramework="net472" />
  <package id="CxFlatUI-Enhanced" version="1.0.0.2" targetFramework="net472" />
  <package id="HTAlt.Standart" version="0.1.4.2" targetFramework="net472" />
  <package id="HTAlt.WinForms" version="0.1.4.2" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net472" />
</packages>